* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  margin-top: 1rem;
  font-size: 2em;
  text-align: center;
}
#ed-input {
  width: 100%;
  height: min-content;
  border: none;
  font-size: 1.2rem;
  font-family: monospace;
}
#ed-input:focus {
  outline: none;
}

#ed-output {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  height: 100%;
  max-height: 30ch;
}

#errors {
  background-color: rgb(172, 217, 240);
  font-weight: bolder;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
}
.ed-container {
  max-width: 30ch;
  margin: 2rem auto;
  border: 3px solid #333;
  font-family: monospace;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.error-container {
  height: 100%;
  max-height: 10ch;
  max-width: 30ch;
  overflow: auto;
  margin: 1rem auto;
  font-size: 1.2rem;
}
